<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mam-Mang temukan restoran favorite untuk semua orang"
    />
    <link rel="icon" href="favicon.png">
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#f7a440"/>
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet noopener" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet noopener" />
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <link
      rel="stylesheet noopener"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      crossorigin="anonymous"
    />
    <title>Mam-Mang</title>
</head>
<body>
  <a href="#mainContent" class="skip-link">Menuju ke konten</a>
  <header class="app-bar">
    <nav-bar></nav-bar>
  </header>
  <spin-loader></spin-loader>
  <div class="callout"></div>
  <main id="mainContent"></main>
  <footer>
    <div class="footer">
      <p>Copyright &copy; 2021 - Mam-Mang</p>
    </div>
  </footer>
</body>
</html>